@charset "ISO-8859-1";

table td, table th {
  border: 1px solid #ddd;
  padding: 22px;
  font-family :monospace;
}

h1{
	font-family :monospace;
	text-align:center;
}
table{
	margin:20px 0px 0px 80px;
	width: 80%;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color:#0080ff;}

table th {
  padding:12px;
  text-align: left;
  background-color: #35b0ca;
  color: white;
}
button{
	border-radius:50px;border: none;background: none;
}
button:hover{
	background-color:#FF7F7F ;
}