@charset "ISO-8859-1";
body{
	background-color: #98a2a5;
}
.login-main{
	display: flex;
	width: 800px;
	height: 400px ;
	margin: 150px auto;
	justify-content: space-between;
	border:2px solid black;

	
}
.login-main  div {
 
  width: 300px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  
  
}
.login-left{

	flex-grow:2;
}
h1 {
	font-size : 40px;
	font-family:monospace;
	margin-top:0px;
	font-weight : 600;
	
}
.login-right    input[type="text"], .login-right input[type="password"] {

  border:0;
  font-family:monospace;
  display: block;
  font-size : 15px;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  padding: 4px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 8px;
  transition: 0.25s;
  

}
.login-right input[type = "text"]:focus,.login-right input[type = "password"]:focus{
  width: 230px;

}
.login-right  label{
	
	font-weight: bold;
	font-size: 10px;

}
.login-right input{
	width: 70%;
	


}


.login-right input[type="submit"]{
	border:0;
  background-color: #35b0ca;
  font-family:monospace bold;
  display: block;
  font-size: 16px;
  margin: 100px auto;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  padding: 12px 40px;
  outline: none;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  transition: 0.25s;
  cursor: pointer;
  width:160px;
}
.login-right input[type = "submit"]:hover{
  background: #5D7986;
}
.login-right {
background-color: #759A9B;
}
@media screen and (max-width: 720px){
	.login-main div{width:200px ;}
}