@charset "ISO-8859-1";
body{
	background-color:#98a2a5;
}

.profile-main{
	width: 50%;
	height:180vh;
	background-color:#759A9B;
	margin: 20px auto;
	
	
}
.image{
	border-radius: 40%;
	border: 1px solid #ccc;
	margin:0px 0px 10px 170px;
}
.profile-main input,select,textarea {
	font-weight: 600;
	font-size: 15px;
	font-family: monospace;
	margin:0px 0px 20px 80px;
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}
input:focus,select:focus{
	 background-color:#5995a6;
}
.profile-main input[type="submit"]{
	
  background-color: #35b0ca;
  font-family:monospace bold;
  display: block;
  
  font-size: 16px;
  margin: 20px 0px 0px 80px ;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  padding: 12px 40px;
  color: rgb(0, 0, 0);
  border-radius: 50px;
  transition: 0.25s;
  cursor: pointer;
  width:30%;
}
.profile-main input[type = "submit"]:hover{
  background: #5D7986;
}
label{
	font-weight: 600;
	font-size: 17px;
	font-family: monospace;
	margin:0px 0px 0px 80px;
}